<launch>
  <!-- Get GPS Coordinates parameter file in .txt format from here: http://www.gpsvisualizer.com/draw/ -->

  <!-- ATM machines = -6.0, North Garage = 7.493 -->
  <arg name="radar_height" value="-6.0" doc="Chosen fixed height of the path" /> <!-- Measured in meters -->
  <arg name="chosen_path" value="atm_cv2_gym_roundedCorners.txt" doc="Chosen path to run" />
  
  <!-- /////////////////////////////////////////////////////////////// -->
  <!-- Initial lat/lon for ENU conversion -->
  <!-- Set values to "None" to use first point in path as radar point -->
  <!-- Center of campus near fountain: radar_lat=37.335292, radar_lon=-121.881295 -->
  <arg name="radar_lat" value="None" doc="Latitude coordiate for radar point. Set to 'None' to use initial point in path" />
  <arg name="radar_lon" value="None" doc="Longitude coordiate for radar point. Set to 'None' to use initial point in path" />

  <node type="path_interpolation.py" pkg="geodesy" name="path_interpolator" output="screen">
    <param name="~radar_lat" value="$(arg radar_lat)" />
    <param name="~radar_lon" value="$(arg radar_lon)" />
    <param name="~fixed_height" value="$(arg radar_height)" />
    <param name="~file_path" value="$(find geodesy)/geodesy_data/gps_coarse_points/$(arg chosen_path)" />
    <param name="~conversion_type" value="ENU" />
  </node>

  <!-- Default conversion is ENU -->
  <node type="gps_pose.py" pkg="geodesy" name="gps_pose_converter" output="screen">
    <param name="~radar_lat" value="$(arg radar_lat)" />
    <param name="~radar_lon" value="$(arg radar_lon)" />
    <param name="~fixed_height" value="$(arg radar_height)" />
    <param name="~file_path" value="$(find geodesy)/geodesy_data/gps_coarse_points/$(arg chosen_path)" />
  </node>
</launch>