<launch>
  <node type="core_control" pkg="control" name="control_core" output="screen">
	  <param name="control_gain" value="1"/>
    <param name="debug" value="false"/>
  </node>

  <node type="ardu_adapter.py" pkg="control" name="Control_Adapter" output="screen">
  </node>
  
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node">
    <param name="port" value="/dev/ttyACM0"/>
  </node>   
</launch>