<launch>
  <node type="core_control" pkg="control" name="control_core" output="screen">
    <param name="control_p_gain" value="1"/>
    <param name="control_d_gain" value="0"/>
    <param name="control_soft_gain" value="0.1"/>
    <param name="waypoint_proximity_range" value="2"/>
    <param name="waypoint_heading_error_range" value="1.5707963"/>
    <param name="debug" value="true"/>
  </node>

</launch>
