<launch>
    <node type="rc_car.py" pkg="control" name="joy_translator" output="screen">
    </node>
    
    <node pkg="joy" type="joy_node" name="joy_node0">
        <param name="dev" value="/dev/input/js0"/>
    </node>
    
    <node type="can_control_adapter.py" pkg="control" name="can_controller" output="screen">
    </node>

    <node type="can_listener.py" pkg="control" name="can_listener" output="screen">
    </node>
    
</launch>    
