<launch>
  
  <!--  Transforms  -->
  <node type="imu_tf_adapter" pkg="localization" name="imu_tf_adapter" output="screen">
    </node>
  
  <include file="$(find robot_localization)/launch/ekf_template.launch" />
  <include file="$(find robot_localization)/launch/navsat_transform_template.launch" />
  
  <!--
  <node type="imu_tf_adapter" pkg="localization" name="imu_tf_adapter" output="screen">
    </node>
  <rosparam command="load" file="$(find robot_localization)/params/dual_ekf_navsat_example.yaml" />

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true"/>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
  </node>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
  </node>
  -->
</launch>